<launch>
	<node name="camera" pkg="pauvsi_pgc_driver" type="pgcDriver" output="screen">
		<param name="frame_rate" value="150" />
  		<param name="serial_number" value="15374828" />
  		<param name="publish_rectified" value="false" />
		<param name="publish_distort" value="true" />
		<param name="publish_color" value="true" />
		<param name="publish_mono" value="true" />
		<param name="topic" value="/camera/bottom"/>
		<param name="frame" value="bottomCamera"/>
		<rosparam file="$(find pauvsi_pgc_driver)/params/13Y3C_params.yaml"/>
	</node>
</launch>